  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

  .app {

    font-family: 'Be Vietnam Pro', sans-serif;
  }

  html,
  body {
    background-color: rgb(1, 16, 34);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  }

  .navibar {
    padding: 5px;
    background-color: rgb(1, 16, 34);

  }

  @media print {
    .navibar {
      visibility: hidden;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }